{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="continer mt-5">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-image">
                            
                                <img class="rounded-circle account-img" width="200" height="200" src="{{ user.profile.avatar.url }}">
                         
                           
                        </div>
                    </div>
                    <div class="col-md-9 mt-3">
                        <div class="profile-user-settings d-flex">
                            <h1 class="profile-user-name text-uppercase pt-3 font-weight-bold text-white">{{ user.username }}</h1>&nbsp;&nbsp;

                            
                        </div>
                        <div class="profile-bio">
                            <h5 class="mt-2 mb-3 p-2" style="color: white;font-weight: 600;">Location:
                                <i class="fas fa-map-marker-alt green-text"></i> {{ profile.neighborhood.name }}
                                ({{profile.eighborhood.location}})</h5>
                            <p class="white-text" style="opacity: 0.9;"><span class="profile-real-name text-dark text-uppercase font-weight-bold">{{ user.username }}'s bio&nbsp;:&nbsp;</span>
                                {% if user.profile.bio %}
                                {{ user.profile.bio }}
                                {%else%}
                                {{ user.username}} has no bio
                                {% endif %}
                            </p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profile">Edit Profile</button>
                        </div>
                    </div>
                </div>
                <hr>
                <h3 class="text-center" style="font-weight: 600;">{{ user.username }}'s Posts</h3>
                {% if posts %}
                <div class="row">

                    <div class="col-md-6 mt-2">
                        <div class="card p-4" style="background-color: rgb(49, 255, 142);">
                            <h5 class="mb-3 p-2" style="font-weight:bold;border-bottom: 2px solid rgb(115, 219, 115);">
                                <i class="far fa-newspaper green-text"></i>
                                <b class="text-dark">{{ neighborhood.name }} Neighborhood News</b>
                            </h5>
                            <a class="btn btn-sm btn-success mb-4 mr-4" href="{% url 'post' neighborhood.id %}">New Post</a>
                            <hr>
                            {% for post in posts %}
                            <div class="p-2" style="background-color: rgb(49, 255, 142);">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="rounded-circle account-img" width="100" height="100"
                                                src="{{ user.profile.avatar.url }}">
                                        </div>
                                        <div class="col-md-9 mt-3">
                                            <h6 class="text-primary">{{ post.user.user.username | title }}&nbsp;<b class="text-muted">{{
                                                    post.title }}</b> </h6>
                                            <p>{{ post.post }}</p>
                                            <small><span class="text-muted">Posted
                                                    {{ post.date_posted | timesince }} ago...</span></small>
                                            <a href="#!" class="float-right">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="text-center">
                        <h4>You don't have any posts</h4>
                       
                    </div>
                    </div>
                    </div>
                {% endif%}
    </div>
        


            </div>
        </header>
    </div>
    <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="profile" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="content-section pt-4">
                        <div class="media">
                             <img class="rounded-circle account-img" width="200" height="200" src="{{ user.profile.avatar.url }}">
                        
                            <div class="media-body pl-2 mt-3">
                                <h2 class="account-heading" style="font-family: 'Grand Hotel', cursive;">{{ user.username }}
                                </h2>
                                <p class="text-primary">{{ user.email }}</p>
                            </div>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Profile Info</legend>
                                {{ u_form | crispy }}
                                {{ p_form | crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-success mt-2">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}